.sidebarChannel{
  padding-left:20px;
  margin-top: 2px;
}
.sidebarChannelH4{
  color: gray;
  display:flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.sidebarChannelH4:hover{
  color: white;
  background-color: #33363d;
  border-radius: 7px;
}

.sidebarChannelHash{
  font-size: 22px;
  padding-right: 10px;
}