

.inputStyle{
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

/* .buttonStyle{
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin-left:6px;
}
button:hover{
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
} */
.title{
  text-align: center;
  margin-top:0;
  font-weight: bold;
  color:#666;
}

.inputArea{
  background-color: #c1FFFF;
  width:400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.imcompleteArea{
  background-color: #c6ffe2;
  width:400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.completeArea{
  background-color: #ffffe0;
  width:400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;

}

.todoArea{
  padding-top: 10px;

}
