body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



input{
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button{
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin-left:6px; 
}
button:hover{
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}
.title{
  text-align: center;
  margin-top:0;
  font-weight: bold;
  color:#666;
}

.input-area{
  background-color: #c1FFFF;
  width:400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.imcomplete-area{
  background-color: #c6ffe2;
  width:400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area{
  background-color: #ffffe0;
  width:400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;

}